* {
    font-family: 'Lato', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.firstpage {
    height: 850px;
    background-color: rgba(229, 84, 115, 0.10);
}

.sec-row {
    display: flex;
    justify-content: space-between;

}

.firstpage-col {
    margin: 10px 30px 10px 80px;
    flex-basis: 50%;
    align-items: center;


}

.firstpage-col img {
    width: 634px;
    height: 700px;
    margin: 20px 10px;
}

.sec-title {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    align-items: center;
    margin-bottom: 1px;


}

.sec-descrip {

    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 600;
    align-items: center;

}

.hello-btn {
    border-radius: 8px;
    background: #E55473;
    margin: 7px;


}

.hello-btn a {
    text-decoration: none;
    color: azure;
}

section {
    margin-bottom: 80px;
}

/* our feature flower*/
.our-feature {
    background-color: #fff;
    width: 80%;
    margin: auto;
}

.feature-col {
    flex-basis: 33%;
    margin: 2px;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 5px;


}

.feature-col img {
    width: 460px;
    height: 650px;
    align-items: center;
    text-align: center;
    border-radius: 300px 300px 0px 0px;
    margin: 5px;
}

/*pg3 design*/
.pg3 {
    background-color: rgba(39, 39, 39, 0.05);
    width: 80%;
    height: 320px;
    margin: auto;
    margin-top: 80px;
}

.pg3-col {
    text-align: center;
    align-items: center;
    margin-top: 100px;
    flex-basis: 30%;
}